/* billedeklammer på brugergrænseflade*/
.billedklamme1-brugerflade,
.billedklamme2-brugerflade,
.billedklamme3-brugerflade {
  display: flex;
  justify-content: center;
}

.billedklamme1-brugerflade img,
.billedklamme2-brugerflade img,
.billedklamme3-brugerflade img {
  width: 50%;
}

@media (min-width: 1024px) {
  .billedklamme1-brugerflade img,
  .billedklamme2-brugerflade img {
    width: 50%;
    padding: 50px 10px 10px 10px;
  }
  .billedklamme3-brugerflade img {
    padding: 0 0 50px 0;
    margin-bottom: 3rem;
  }
}
