.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.projekt-card {
  display: flex;
  flex-direction: column; /* Billede, h2 og knapperne er i en kolonne */
  align-items: center; /* Centrerer alt vandret */
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #aa0c0c;
}

/*sidste boks i layouttet*/
.projekt-card:last-child {
  border-bottom: none;
}

#projekter-overskrift {
  color: #aa0c0c;
  font-family: "Inria Serif", serif;
  font-size: 30px;
  padding: 60px 50px 20px 30px;
}

.web-h2 {
  padding: 20px;
  text-transform: uppercase;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/*Navigations overskrift i footeren*/
.h3-navigation {
  font-size: 14px;
  letter-spacing: 0.08em;
  margin-bottom: 8px;
  color: #aa0c0c;
  font-family: "Hedvig Letters Sans", sans-serif;
  padding: 0;
}

@media (min-width: 1024px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .projekt-card {
    border-bottom: none;
    padding: 20px 60px; /* Plads inden i boksen */
    border: 0.5px solid #aa0c0c;
  }

  .projekt-card img {
    width: 90%;
  }

  .projekt-card:last-child {
    border: 1px solid #aa0c0c;
  }

  #projekter-overskrift {
    font-size: 50px;
    padding: 90px 50px 0 30px;
  }

  /*Navigations overskrift footeren*/
  .h3-navigation {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
